name: Detect ABI Diff
on:
  workflow_call:
    inputs:
      os:
        type: string
        default: ubuntu-22.04
      cc:
        type: string
        default: clang-20
      cxx:
        type: string
        default: clang++-20

      # Branch to compare to
      base-branch:
        type: string
        default: develop

      # Glob for files to include in the diff (this is used like: git diff {base} -- {search-path})
      search-path:
        type: string
        default: .

      # Optionally, the cmake target needed to generate the version file
      abi-version-cmake-target:
        type: string
        required: false

      # Path to the header-file the ABI version is defined in
      abi-version-header:
        type: string
        required: true

      # Name of the (char[]) constant the ABI version is defined in
      abi-version-const:
        type: string
        required: true

    secrets:
      CONAN_USER:
        required: true
      CONAN_PW:
        required: true

jobs:
  detect-abi-diff:
    name: Detects potential ABI differences
    defaults:
      run:
        shell: bash
    runs-on: ${{ inputs.os }}
    steps:
      - name: Conan login
        run: |
          conan remote login -p "${{ secrets.CONAN_PW }}" tentris-private "${{ secrets.CONAN_USER }}"

      - name: Cache conan data
        id: cache-conan
        uses: actions/cache@v4
        with:
          path: ~/.conan2/p
          key: conan2-${{ inputs.os }}-${{ inputs.compiler }}-abi-diff

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # needed to check out all branches for this Action to work

      - name: Get dependency provider
        uses: dice-group/cpp-conan-release-reusable-workflow/.github/actions/add_conan_provider@main

      - name: Create ABI version detection program
        run: |
          PROG=$(cat << EOF
          #include <iostream>
          #include <${{ inputs.abi-version-header }}>

          int main() {
            std::cout << ${{ inputs.abi-version-const }} << std::endl;
          }
          EOF
          )

          echo "$PROG" > /tmp/detect-abi-version.cpp

      # Diff this branch vs the base branch
      - name: Run diff
        id: diff
        run: |
          # this is a workaround, if I put the github expansions directly into
          # the line below these two it doesn't work
          base_branch="${{ inputs.base-branch }}"
          search_path="${{ inputs.search-path }}"
          
          diff_lines=$(git diff "remotes/origin/$base_branch" -- $search_path | wc -l)
          echo "Diff has $diff_lines lines"
          echo "nlines=$diff_lines" >> "$GITHUB_OUTPUT"

      - name: Generate version file on feature branch
        uses: dice-group/cpp-conan-release-reusable-workflow/.github/actions/generate_version_file@main
        with:
          cc: ${{ inputs.cc }}
          cxx: ${{ inputs.cxx }}
          build-dir: build_dir
          target: ${{ inputs.abi-version-cmake-target }}

      - name: Fetch current ABI version
        id: current-abi-version
        run: |
          ${{ steps.install_cc.outputs.cxx }} -std=c++20 -I. -o /tmp/detect-abi-version-current /tmp/detect-abi-version.cpp
          abi_version=$(/tmp/detect-abi-version-current)
          
          echo "Current ABI version: $abi_version"
          echo "abi_version=$abi_version" >> "$GITHUB_OUTPUT"

      - name: Switch to base branch
        run: |
          rm -rf build_dir
          git switch ${{ inputs.base-branch }}

      - name: Regenerate version file for base branch
        uses: dice-group/cpp-conan-release-reusable-workflow/.github/actions/generate_version_file@main
        with:
          cc: ${{ inputs.cc }}
          cxx: ${{ inputs.cxx }}
          build-dir: build_dir
          target: ${{ inputs.abi-version-cmake-target }}

      - name: Fetch base branch ABI version
        id: base-abi-version
        run: |
          ${{ inputs.cxx }} -std=c++20 -I. -o /tmp/detect-abi-version-base /tmp/detect-abi-version.cpp
          abi_version=$(/tmp/detect-abi-version-base)
          
          echo "Base ABI version: $abi_version"
          echo "abi_version=$abi_version" >> "$GITHUB_OUTPUT"

      - name: Check missing ABI version bump
        if: ${{ steps.diff.outputs.nlines != 0 && steps.current-abi-version.outputs.abi_version == steps.base-abi-version.outputs.abi_version }}
        run: |
          echo "::error::Files changed but ABI version was not changed"
          exit 1

      - name: Check erroneous ABI version bump
        if: ${{ steps.diff.outputs.nlines == 0 && steps.current-abi-version.outputs.abi_version != steps.base-abi-version.outputs.abi_version }}
        run: |
          echo "::error::Files did not change but ABI version was changed"
          exit 1
