name: Conan packaging
on:
  workflow_call:
    inputs:
      public_artifactory:
        type: boolean
        default: false
      os:
        type: string
        default: ubuntu-24.04
      cc:
        type: string
        default: clang-20
      cxx:
        type: string
        default: clang++-20
      conan-options:
        type: string
    secrets:
      CONAN_USER:
        required: true
      CONAN_PW:
        required: true

jobs:
  publish-conan-branch-package:
    name: Creates a conan package for the branch and uploads it to conan.dice-research.org
    runs-on: ${{ inputs.os }}
    container: ghcr.io/tentris/actions-runner:latest
    steps:
      - name: Conan login
        run: |
          conan remote login -p "${{ secrets.CONAN_PW }}" tentris-private "${{ secrets.CONAN_USER }}"

      - name: Cache conan data
        id: cache-conan
        uses: actions/cache@v4
        with:
          path: ~/.conan2/p
          key: ${{ inputs.os }}-${{ inputs.cxx }}-reusable-workflow-branch-package

      - name: Checkout
        uses: actions/checkout@v3

      - name: Collect package information
        shell: bash
        run: |
          pkg_name=$(conan inspect --format json . | jq -r '.name')
          pkg_ver=$(conan inspect --format json . | jq -r '.version')
          
          # we replace / with - because it is a reserved name in conan's <pkgName>/version@user/channel
          conanized_branch_name=$(echo "${{ github.ref_name }}" | sed 's|/|-|g' | awk '{print tolower($0)}' | head -c 51)
          
          echo "conan_package_user=${{ github.repository_owner }}" >> $GITHUB_ENV
          echo "conan_package_channel=$conanized_branch_name"      >> $GITHUB_ENV
          
          echo "conan_package_identifier=${pkg_name}/${pkg_ver}@${{ github.repository_owner }}/${conanized_branch_name}" >> $GITHUB_ENV

      - name: Create Package
        shell: bash
        env:
          CC: ${{ inputs.cc }}
          CXX: ${{ inputs.cxx }}
        run: |
          (conan remove -f "${{ env.conan_package_identifier }}:*" || true)
          conan create --user "${{ env.conan_package_user }}" --channel "${{ env.conan_package_channel }}" --build missing ${{ inputs.conan-options }} .

      - name: Select public artifactory for upload
        if: ${{ fromJSON(inputs.public_artifactory) }}
        run: |
          echo "remote_artifactory_name=dice-group" >> $GITHUB_ENV

      - name: Select private artifactory for upload
        if: ${{ !fromJSON(inputs.public_artifactory) }}
        run: |
          echo "remote_artifactory_name=tentris-private" >> $GITHUB_ENV

      - name: Upload to artifactory
        shell: bash
        run: |
          conan upload "${{ env.conan_package_identifier }}" --force -r ${{ env.remote_artifactory_name }} --only-recipe
